@use "sass:math";
@import "../colors/colors.scss";
$margins-count: 8;
$margins-divide: 2;
$border-size: 1px;

@for $i from 0 through $margins-count {
    $size: 0;
    @if $i != 0 {
        $size: math.div($i, $margins-divide)
    }
    .mar-#{$i}  { margin:   #{$size}rem !important; };
    .pad-#{$i}  { padding:  #{$size}rem !important; };
    .gap-#{$i}  { gap:      #{$size}rem !important; };
}

.text-left   { text-align:    left;}
.text-right  { text-align:   right;}
.text-center { text-align:  center;}

.text-thin { font-weight: 200; }
.text-bold { font-weight: 700; }
.text-small { font-size: small;}
.text-large { font-size: large;}
.text-mono { font-family: monospace;}
.text-unstyle { text-decoration: none ;}
.text-underline { text-decoration: underline;}

.text-break {
    word-break: break-all;
}

[class*=border]{
    @include theme-trasparency(border-color,.2);
}
.border {
    border: $border-size solid;
}
@each $side in ("left", "right", "top", "bottom") {
    .border-#{$side} { 
        border-#{$side}: $border-size solid;
    }
}
.round-corners {
    border-radius: $border-radius;
}

.box-content {
    box-sizing: content-box;
}