@import "../../../../../style/layout/breakpoints.scss";
::ng-deep {
    body { overflow: hidden;}
}
.theme {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    overflow-x: hidden;
    @include between-breakpoints('xs','md') {
        & > * {
            position: absolute;
            width: 100vw;
            height: 100vh;
            max-width: 100vw;
            max-height: 100vh;
            border: none !important;
        }
        & > #navbar {
            transition: left 250ms;
        }
        & > #router {
            transition: right 250ms;
        }
        &.show > #navbar {
            left:0;
        }
        &:not(.show) > #navbar {
            left:-100%;
        }
        &.show > #router {
            right: -100%;
            z-index: 0;
        }
        &:not(.show) > #router {
            right: 0;
            z-index: 0;
        }
        
    }

    transition: left 150ms, background 150ms;
    
}

