$color-palette : (
    primary: (
        100: #99c1f1,
        200: #62a0ea,
        300: #3584e4,
        400: #1c71d8,
        500: #1a5fb4
    ),
    accent: (
        100: #8ff0a4,
        200: #57e389,
        300: #33d17a,
        400: #2ec27e,
        500: #26a269
    ),
    og: (
        100: #f9f06b,
        200: #f8e45c,
        300: #f6d32d,
        400: #f5c211,
        500: #e5a50a
    ),
    warn: (
        100: #ffbe6f,
        200: #ffa348,
        300: #ff7800,
        400: #e66100,
        500: #c64600
    ),
    error: (
        100: #f66151,
        200: #ed333b,
        300: #e01b24,
        400: #c01c28,
        500: #a51d2d
    ),
    energetic: (
        100: #dc8add,
        200: #c061cb,
        300: #9141ac,
        400: #813d9c,
        500: #613583
    ),
    poop: (
        100: #cdab8f,
        200: #b5835a,
        300: #986a44,
        400: #865e3c,
        500: #63452c
    ),
    light: (
        900: #ffffff,
        800: #f6f5f4,
        700: #deddda,
        600: #c0bfbc,
        500: #9a9996,
        400: #77767b,
        300: #5e5c64,
        200: #3d3846,
        100: #241f31,
        000: #000000
    )
);
@function get-color($color, $shade: 300 ) {
    @return map-get(map-get($color-palette,$color), $shade );
}

