@use "sass:color";
@use "sass:math";

@import "../colors/colors.scss";
textarea.input {
    padding: .25rem .50rem;
    line-height: 100%;
}
input.input[type=text] {
    padding: 0rem .50rem;
    line-height: 220%;

}
input.input[type=text], textarea.input {
    user-select: unset;
    display: inline-block;
    border: none;
    font-family: inherit;
    font-size: inherit;
    
    border-radius: 4px; 
    outline: none; // chrome di poop
    //@include theme-trasparency(background-color,0.2);
    @include dark-mode {
        color: get-color("light",900);
        background-color: get-color("light",200);

        &.dark-contrast-fix {
            background-color: rgba(get-color("light",100), 0.50 );
        }
    }
    @include light-mode {
        color: get-color("light",100);
        background-color: rgba(#000, $alpha: .1);

    }
    &.error {
        box-shadow: 0 0 0 2px get-color("error");
    }
    &.on-touched.ng-invalid.ng-touched {
        @extend .error;
    }
    &.on-dirty.ng-invalid.ng-touched {
        @extend .error;
    }

    &:focus, &:active{
        box-shadow: 0 0 0 2px get-color("primary");
    }
 

}