<div *ngIf="(ui$|async) as ui" class="theme d-grid" [class.bg-dark]="ui.theme == 'dark'"
    [class.bg-light]="ui.theme == 'light'" [class.show]="ui.sidebar">
    <div id="navbar" class="col-md-5 col-lg-4 col-xl-3 col-xxl-2 border-right">

        <div class="navbar d-flex top align-center">
            <div 
            class="btn d-flex align-center gap-1 pad-1 flex-grow" *ngIf="(user$|async) as user"
            (click)="showUpdateUserDialog()"
            >
                <img class="user-image" src="/resources/pictures/{{user.pictureName}}" alt="">
                <span>{{user.username}}</span>
            </div>
            
            <button class="btn icon invert-on-dark" (click)="toggleTheme()">
                <ng-container [ngSwitch]="(ui$|async).theme">
                    <svg *ngSwitchCase="'light'" xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                        <g fill="fillColor">
                            <path d="M8 4.006c-2.195 0-4 1.805-4 4 0 2.195 1.805 4 4 4 2.195 0 4-1.805 4-4 0-2.195-1.805-4-4-4z" style="line-height:normal;-inkscape-font-specification:Sans;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;text-orientation:mixed;shape-padding:0;isolation:auto;mix-blend-mode:normal;marker:none" color="#bebebe" font-weight="400" font-family="Sans" white-space="normal" overflow="visible"/>
                            <path d="M7.5 0h1c.277 0 .5.223.5.5v2c0 .277-.223.5-.5.5h-1a.499.499 0 0 1-.5-.5v-2c0-.277.223-.5.5-.5zM7.5 13h1c.277 0 .5.223.5.5v2c0 .277-.223.5-.5.5h-1a.499.499 0 0 1-.5-.5v-2c0-.277.223-.5.5-.5zM1.99 2.697l.707-.707a.499.499 0 0 1 .707 0l1.414 1.414a.499.499 0 0 1 0 .707l-.707.707a.499.499 0 0 1-.707 0L1.99 3.404a.499.499 0 0 1 0-.707zM11.182 11.89l.707-.708a.499.499 0 0 1 .707 0l1.415 1.414a.499.499 0 0 1 0 .707l-.708.707a.499.499 0 0 1-.707 0l-1.414-1.414a.499.499 0 0 1 0-.707zM2.697 14.01l-.707-.707a.499.499 0 0 1 0-.707l1.414-1.414a.499.499 0 0 1 .707 0l.707.707a.499.499 0 0 1 0 .707L3.404 14.01a.499.499 0 0 1-.707 0zM11.89 4.818l-.708-.707a.499.499 0 0 1 0-.707l1.414-1.414a.499.499 0 0 1 .708 0l.707.707a.499.499 0 0 1 0 .707l-1.415 1.414a.499.499 0 0 1-.707 0zM16 7.5v1c0 .277-.223.5-.5.5h-2a.499.499 0 0 1-.5-.5v-1c0-.277.223-.5.5-.5h2c.277 0 .5.223.5.5zM3 7.5v1c0 .277-.223.5-.5.5h-2a.499.499 0 0 1-.5-.5v-1c0-.277.223-.5.5-.5h2c.277 0 .5.223.5.5z"/>
                        </g>
                    </svg>
                    <svg *ngSwitchDefault xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                        <path d="M6.81 1.102A7 7 0 0 0 1 8a7 7 0 0 0 7 7 7 7 0 0 0 4.594-1.729A8.797 8.797 0 0 1 6 4.766a8.797 8.797 0 0 1 .81-3.664z" style="isolation:auto;mix-blend-mode:normal;marker:none" color="#000" overflow="visible" fill="fillColor"/>
                    </svg>
                </ng-container>

                
                
            </button>
            <button *ngIf="ui.collapsedMenu" class="btn icon invert-on-dark icon" (click)="toggleSidebar()">
                <svg height="16px" viewBox="0 0 16 16" width="16px" xmlns="http://www.w3.org/2000/svg">
                    <g fill="fillColor">
                        <path d="m 4.292969 2.707031 l 1.414062 -1.414062 l 6.707031 6.707031 l -6.707031 6.707031 l -1.414062 -1.414062 l 5.292969 -5.292969 z m 0 0"/>
                        <path d="m 5 15 h -1 v -1 h 1 z m 0 0"/>
                        <path d="m 5 2 h -1 v -1 h 1 z m 0 0"/>
                        <path d="m 5 3 c -0.554688 0 -1 -0.445312 -1 -1 s 0.445312 -1 1 -1 s 1 0.445312 1 1 s -0.445312 1 -1 1 z m 0 0"/>
                        <path d="m 5 15 c -0.554688 0 -1 -0.445312 -1 -1 s 0.445312 -1 1 -1 s 1 0.445312 1 1 s -0.445312 1 -1 1 z m 0 0"/>
                    </g>
                </svg>
            </button>
        </div>

        <div class="d-flex column gap-1 pad-1">
            <div  class="btn d-flex align-center gap-1 pad-1" [routerLink]="['readme']">
                <img class="user-image invert-on-dark" src="assets/icons/help-browser-symbolic.svg" alt="">
                <span>README</span>
            </div>
            <div  class="btn d-flex align-center gap-1 pad-1" *ngFor="let user of (users$|async)" [routerLink]="['chat',user.uuid]" (click)="toggleSidebar(false)">
                <img class="user-image" src="/resources/pictures/{{user.pictureName}}" alt="">

                <span>{{user.username}}</span>
            </div>

        </div>
    </div>
    <div id="router" class="col-md-7 col-lg-8 col-xl-9 col-xxl-10 d-flex column">
        <!--<div class="navbar d-flex top align-center">
            <button *ngIf="ui.collapsedMenu" class="btn icon invert-on-dark icon" (click)="toggleSidebar()">
                <svg height="16px" viewBox="0 0 16 16" width="16px" xmlns="http://www.w3.org/2000/svg">
                    <g fill="fillColor">
                        <path d="m 1 2 h 14 v 2 h -14 z m 0 0"/>
                        <path d="m 1 7 h 14 v 2 h -14 z m 0 0"/>
                        <path d="m 1 12 h 14 v 2 h -14 z m 0 0"/>
                    </g>
                </svg>
            </button>
            <span class="brand flex-grow">Navbar</span>
        </div>-->
        <div class="flex-grow d-flex column">
            <router-outlet></router-outlet>

        </div>
        
    </div>

</div>