:host {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}
.messages { 
    flex-grow: 1;

    position: relative;
    & > .container {

        position: absolute;
        top:0;
        bottom: 0;
        left:0;
        right: 0;
    }   
}

.message {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    &  .time {
        font-size: 10px;
    }
    &:not(.pal) {
        .bg-content {
            display: flex;
            flex-flow: column;
            align-items: flex-end;
        }
        justify-content: right;
        flex-flow: row-reverse;
        & .time {
            text-align: right;
        }
    }
    &.pal {
        .bg-content {
            display: flex;
            flex-flow: column;
            align-items: flex-start;
        }
        justify-content: left;
    }
    &  .content {

    }

}