
<div class="messages">
    <div class="container d-flex column gap-1 pad-1 nowrap" style="overflow-y: scroll;" #container>
        <div *ngFor="let message of (chat$|async); trackBy: trackByUUID" class="message"
            [class.pal]="(users$|async).pal.uuid == message.from">
            <img class="user-image" src="/resources/pictures/{{(users$|async)[message.from].pictureName}}" alt="">
            <div class="bg-content round-corners pad-1">
                <span class="time">
                    {{ message.localDate > (3600 * 24) ? (message.localDate|date:'shortTime') : (message.localDate|date:'short') }}
                </span>          

                <span class="content text-break text-end">{{message.text}}</span>
            </div>
        </div>

    </div>
   
      

</div>
<div class="navbar box-content bottom d-flex justify-center align-center gap-1">
    <textarea #textarea [formControl]="textField" style="resize: none;" class="input dark-contrast-fix flex-grow"
        (keydown.enter)="sendMessage(); $event.preventDefault()">
    </textarea>
    <button class="btn icon invert-on-dark" [disabled]="textField.invalid" (click)="sendMessage()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
            <g fill="#2e3436">
                <path d="M16 2L0 7l3.5 2.656L14.563 2.97 5.25 10.656l4.281 3.156z" />
                <path d="M3 8.5v6.102l2.83-2.475-.66-.754L4 12.396V8.5z"
                    style="line-height:normal;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;text-orientation:mixed;shape-padding:0;isolation:auto;mix-blend-mode:normal"
                    color="#000" font-weight="400" font-family="sans-serif" overflow="visible" fill-rule="evenodd" />
            </g>
        </svg>
    </button>
</div>